[{{ url }}]

listen = '/var/run/php/{{ url }}.sock'
listen.allowed_clients = 127.0.0.1
listen.owner = nginx
listen.group = nginx
listen.backlog = 65535

user = {{ user }}
group = {{ group }}

pm = dynamic
pm.max_children = 100
pm.start_servers = 10
pm.min_spare_servers = 10
pm.max_spare_servers = 15
pm.max_requests = 1000

request_terminate_timeout = 120
;request_slowlog_timeout = 0
